name: Netlib Keepalive

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/login.yml"
      - "package.json"
      - "login.js"
  schedule:
    - cron: '0 0 */10 * *'
  workflow_dispatch:

jobs:
  auto_login_netlib:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Install Playwright and browser
        run: npx playwright install --with-deps chromium

      - name: Run lognin script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          ACCOUNTS: ${{ secrets.ACCOUNTS }}
        run: npm start
